.App {
  text-align: center;
}

.charCard {
  border: 2px solid purple;
  border-radius: 20px;
  width: 15rem;
  margin: 5% 0% 0% 30%;
  background-image: url("./images/rickandmortyportal.jpg");
  background-position: center;
  text-shadow: 1px 1px 2px white;
}
.avatar {
  display: flex;
  flex: auto;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom: 2px solid purple;
  width: 15rem;
}
.locCard {
  border: 2px solid purple;
  border-radius: 20px;
  width: 15rem;
  background-color: darkslateblue;
  margin: 10% 10% 10% 25%;
  background-image: url("./images/rickandmortyportal.jpg");
  background-position: center;
  text-shadow: 1px 1px 2px white;
}

.epiCard {
  border: 2px solid purple;
  border-radius: 20px;
  width: 15rem;
  margin: 10% 10% 10% 25%;
  background-image: url("./images/rickandmortyportal.jpg");
  background-position: center;
  text-shadow: 1px 1px 2px white;
}

.errorCard {
  border: 2px solid purple;
  width: 15rem;
  height: 20rem;
  background-color: darkorchid;
  margin: 10% 10% 10% 25%;
  background-image: url("./images/openmorty.png");
  background-position: center;
  background-size: cover;
  text-shadow: 1px 1px 2px white;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
}

nav {
  background-image: linear-gradient(
    to bottom left,
    darkslateblue,
    lightslategrey
  );
  background-repeat: no-repeat;
  color: white;
  display: flex;
 width: 100%;
  align-items: center;
  justify-content: space-evenly;
  
}

nav img {
  max-height: 60px;
  padding: 0px;
  margin: 0px;
  /* margin: 5px 20px 5px 0; */
  display: inline-block;
  vertical-align: middle;
}


nav img:hover {
  background-image: url("./images/rickandmortyportal.jpg");
  background-position: center;
  border-radius: 50px;
}

nav a {
  color: white;
  display: inline-block;
  font-size: 1em;
  text-decoration: none;

}

nav a:hover {
  color: lightslategrey;
}

main {
  width: 100%;
  margin: auto;
  height: 600px;
}


form {
  justify-content: center;
}
.charBody {
  background-image: url("./images/happyrick.jpg");
  background-position: center;
  background-size: cover;
  width: 80%;
  margin: auto;
  height: 100%;
}

.locBody {
  background-image: url("./images/pointingrick.jpg");
  background-position: center;
  background-size: cover;
  width: 80%;
  margin: auto;
  height: 100%;
}

.epiBody {
  background-image: url("./images/rick-and-morty-heist-glasses.jpeg");
  background-position: center;
  background-size: cover;
  width: 80%;
  margin: auto;
  height: 100%;
}

.homeBody {
  background-image: url("./images/people.jpg");
  background-position: center;
  background-size: cover;
  width: 80%;
  margin: auto;
  height: 100%;
}
.footer {
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
  font-size: 1em;
  color: #286c79;
  text-shadow: 1px 1px 2px lightslategray;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  margin-left: 85%;
  
}

button {
  text-decoration: none;
  color: darkslateblue;
  font-size: 1.55rem;
  }
button:hover {
  background-color: lightgrey;
  color: darkslateblue;
  box-shadow: 0 12px 16px 0 rgba(72,61,139,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
  border: solid 2px black;
}

h2 {
  color: black;
  text-align: center;
  text-shadow: 1px 1px 2px white;
  font-size: 1.5rem;
}

h3 {
  color: black;
  text-align: center;
  text-shadow: 1px 1px 2px white;
  font-size:1rem;
}


h4 {
  font-size: 2.5em;
  color: lightgoldenrodyellow;
  text-shadow: 1px 1px 2px purple;
}
h5 {
  padding-left: 2rem
}
span {
  font-size: 1.3rem
}